body {
  font-family: Arial, sans-serif;
}
*{
 margin: 0px;
}
.nav-bar {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
 
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
}

.home-page, .about-page, .contact-page, .services-page {
  padding: 2em;
}

.service-design-page, .service-development-page {
  padding: 2em;
}
